@media screen and (max-width: 760px) {
    
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    forms {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-items: center;
    }

    img {
        display: none;
    }

}