@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: "Poppins", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 52px;
    line-height: 10px;
}

spam {
    color: rgb(132, 14, 201)
}

p {
    line-height: 20px;
    max-width: 500px;
}

img {
    height: 520px;
    width: 570px
}

a {
    color: white; 
}

a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#Inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#Inscreva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: white
}

forms {
display: flex;
flex-direction: column;
width: 70%;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;   
}

forms [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold ;
    padding: 15px;
}

forms [type="submit"]:hover {
    cursor: pointer;
}